<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Rodrigo Neiva Montes**
Project Technician

*I study data science because I like finance and investments and I understand that this knowledge is fundamental in the preparation of analyzes and theses.*

*Also, I hope to be able to make a career change from the knowledge gained.*

### I prepared a simple code that performs the sum between the number 2 and 3.

In [2]:
Sum=2+3
Sum

5

Hyperlink=(https://www.netvasco.com.br/)

Table
        
        Column 1  |  Column 2  | Column 3
_________________________________________
Row 1             |            |
_________________________________________            
Row 2             |            |
__________________________________________               
Row 3             |            |
__________________________________________

List

1- Item 1
2- Item 2
3- Item 3

Bulleted list

* Item 1
* Item 2
* Item 3